<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' https://cdnjs.cloudflare.com;">
    <!-- css link -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- icons cdn link -->
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">
    <title><%= title %></title>
  </head>
  <body>
