<header>
    <!-- navbar  -->
    <nav class="navbar">
      <div class="navbar-brand">
        <i class="lni lni-pointer-top"></i>
        <a class="a-nav" href="#">shop.com</a>
      </div>
      <input type="checkbox" id="navbar-toggle">
      <label for="navbar-toggle" class="navbar-toggle-label"><i class="lni lni-menu"></i></label>
      <ul class="navbar-menu">
        <input type="text" id="search-box" placeholder="search" onkeyup="sendData(this)">
        <section class="hidden" id="searchResults"></section>
        <li><a class="a-link" href="/">Home</a></li>
        <li><a class="a-link" href="/">Create</a></li>
        <li><a class="a-link" href="/">Cart</a></li>
        <form action="/">
          <button class="nav-btn-login" type="button" name="button">LOGIN</button>
        </form>
        <form action="/">
          <button class="nav-btn-singup" type="button" name="button">SING UP</button>
        </form>
      </ul>
    </nav>
  </header>